
h1{
font-family: "Agency FB";
  color: rgb(33,33,32);
  font-size: 70px;
  margin-top: 10%;
  padding-left: 25%;
  padding-top: 7%;

}

.pwdicon{
  display:inline-block;
  text-align:center;
  min-width:1.5em;
  padding:.25em;
  border-width:1px;
  border-style:solid
}

input{
  font-family: "Agency FB", serif;
  font-size: large;
}
.password{
  margin-top: 30px;

}
.cl1{
  margin-left: 10%;
  margin-top:10%;
  width: 80%;
  opacity: 1.5;
}
img{
  width: 30%;
  margin-left: 35%;
}
.button{
  margin-top: 10%;
  margin-left:75%;
}
.borderbox:hover{
  background: white;

  opacity: 0.8;
}
.borderbox{
  opacity: 0.7;
  background:white;
  margin-top: 5%;
  margin-left: 35%;
  width:33%;
  height: 800px;
  transition: 0.3s;
  border-radius: 1.5rem;

}
button{
  font-family: "Agency FB", serif;
  font-size:20px ;
  transition: 0.3s;

}
