

<div class="borderbox">
  <h1>Identification</h1>

  <img src="assets/cady.png" alt="cadyicone">
  <div  class="ui-g center ui-fluid">
    <div class="ui-g-12 ui-md-4 cl1">

      <!--       login name div         !-->

      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="Username">

      </div>
      <!--        Password div         !-->
                    <div class="ui-inputgroup password">
        <span style="width:6%" class="ui-inputgroup-addon">  <img src="assets/lock.png" class="pi-user" style="opacity:0.7;width:15px; margin: 0 auto;" alt="locked"></span>
      <input pInputText placeholder="Password" type="password" />
                    </div>
    </div>
      <!--      Login button div          !-->
                   <div class="ui-inputgroup button">
        <button pButton type="button" label="Valider" class="btn ui-button-rounded ui-button-secondary"></button>
                   </div>

</div>


</div>


